<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://feed.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>feed.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Feed</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Feed</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FeedMeDataBaseConnectionString-testUser" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:feedmedatabase.database.windows.net,1433;Initial Catalog=FeedMeDataBase;User ID=feedme;Password=F33dM3D4t4B453" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=feedmedatabase.database.windows.net;Initial Catalog=FeedMeDataBase;User ID=testUser;Password=T35tU53r" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FeedMeDataBaseConnectionString-testUser_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=feedmedatabase.database.windows.net;Initial Catalog=FeedMeDataBase;User ID=testUser;Password=T35tU53r" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:feedmedatabase.database.windows.net,1433;Initial Catalog=FeedMeDataBase;User ID=feedme;Password=F33dM3D4t4B453" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=feedmedatabase.database.windows.net;Initial Catalog=FeedMeDataBase;User ID=testUser;Password=T35tU53r" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=feedmedatabase.database.windows.net;Initial Catalog=FeedMeDataBase;User ID=testUser;Password=T35tU53r" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="FriendsListQuery" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:feedmedatabase.database.windows.net,1433;Initial Catalog=FeedMeDataBase;User ID=feedme;Password=F33dM3D4t4B453" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=feedmedatabase.database.windows.net;Initial Catalog=FeedMeDataBase;User ID=testUser;Password=T35tU53r" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FriendsListQuery_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=feedmedatabase.database.windows.net;Initial Catalog=FeedMeDataBase;User ID=testUser;Password=T35tU53r" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="LiveMealsQuery" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:feedmedatabase.database.windows.net,1433;Initial Catalog=FeedMeDataBase;User ID=feedme;Password=F33dM3D4t4B453" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=feedmedatabase.database.windows.net;Initial Catalog=FeedMeDataBase;User ID=testUser;Password=T35tU53r" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LiveMealsQuery_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=feedmedatabase.database.windows.net;Initial Catalog=FeedMeDataBase;User ID=testUser;Password=T35tU53r" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TestDatabase" Order="5" Enabled="False">
          <Destination Path="Data Source=tcp:feedmedatabase.database.windows.net,1433;Initial Catalog=FeedMeDataBase;User ID=feedme;Password=F33dM3D4t4B453" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\TestDatabase.mdf;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TestDatabase_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\TestDatabase.mdf;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Entities" Order="6" Enabled="False">
          <Destination Path="Data Source=tcp:feedmedatabase.database.windows.net,1433;Initial Catalog=FeedMeDataBase;User ID=feedme;Password=F33dM3D4t4B453" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=feedmedatabase.database.windows.net;Initial Catalog=FeedMeDataBase;User ID=testUser;Password=T35tU53r" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=feedmedatabase.database.windows.net;Initial Catalog=FeedMeDataBase;User ID=testUser;Password=T35tU53r" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Entities-Web.config Connection String">
      <ParameterValue>Data Source=tcp:feedmedatabase.database.windows.net,1433;Initial Catalog=FeedMeDataBase;User ID=feedme;Password=F33dM3D4t4B453</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="TestDatabase-Web.config Connection String">
      <ParameterValue>Data Source=tcp:feedmedatabase.database.windows.net,1433;Initial Catalog=FeedMeDataBase;User ID=feedme;Password=F33dM3D4t4B453</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="LiveMealsQuery-Web.config Connection String">
      <ParameterValue>Data Source=tcp:feedmedatabase.database.windows.net,1433;Initial Catalog=FeedMeDataBase;User ID=feedme;Password=F33dM3D4t4B453</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="FriendsListQuery-Web.config Connection String">
      <ParameterValue>Data Source=tcp:feedmedatabase.database.windows.net,1433;Initial Catalog=FeedMeDataBase;User ID=feedme;Password=F33dM3D4t4B453</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:feedmedatabase.database.windows.net,1433;Initial Catalog=FeedMeDataBase;User ID=feedme;Password=F33dM3D4t4B453</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="FeedMeDataBaseConnectionString-testUser-Web.config Connection String">
      <ParameterValue>Data Source=tcp:feedmedatabase.database.windows.net,1433;Initial Catalog=FeedMeDataBase;User ID=feedme;Password=F33dM3D4t4B453</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>