body {
    padding-top: 70px
}

/* Row formatting for live meals table */
/*th {
    text-align: center!important;
}

.mealRow {
    background-color: #229954;
    border-collapse: separate;
}

.mealRow table:first-child {
    border-radius: 10px 0 0 10px;
    border-top: 5px solid #52BE80;
    border-left: 5px solid #52BE80;
    border-bottom: 5px solid #52BE80;
}

    .mealRow table {
        border-top: 5px solid #52BE80;
        border-bottom: 5px solid #52BE80;
    }

        .mealRow table:last-child {
            border-radius: 0 10px 10px 0;
            border-top: 5px solid #52BE80;
            border-right: 5px solid #52BE80;
            border-bottom: 5px solid #52BE80;
            text-align: center;
        }*/

