/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 0px;
    }
    .body-content {
        padding: 0;
    }
}

.standard-page {
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-overrides.navbar-overrides {
    color: #ffffff;
}

.navbar-overrides a:hover {
    color: #4cff00
}

.text-navbar {
    color: #ffffff;
}

.sidenav {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #229954;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
}

.sidenav a:hover {
    color: #4cff00;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.liveMealsTable.liveMealsTable {
    padding-left: 10px;
    padding-right: 10px;
    align-content: center;
}

.liveMealsTableDataList {
    width: 100%;
    height: 100px;
}

.mealRow {
    background-color: #229954;
    border-collapse: separate;
    border: 5px solid #52BE80;
    border-radius: 25px;
    transition: 0.5s;
}

.mealHeader {
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    transition: 0.5s;
}

.mealContent {
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    transition: 0.5s;
}

.hostButtonRow {
    padding-left: 40px;
    padding-right: 40px;
    width: 100%
}

#hostButton {
    background-color: #229954;
    color: #ffffff;
    font-size: 30px;
}

#hostButton:hover {
    background-color: #196F3D;
}

.friends {
    padding: 10px;
    align-content: center;
    text-align: left;
    color: #ffffff;
    font-size: 15px;
}

.friendsRow {
    border-collapse: separate;
    padding: 5px;
    height: 50px;
    width: 100%;
}

.friendsContent {
    background-color: #52BE80;
    text-align: center;
    color: #ffffff;
    font-size: 15px
}

